<!DOCTYPE html>
<html ng-app="MeetlyApp">
<head>
  <title>Meet.ly</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
 <h1>Meet.ly</h1>

  <!-- START: formController -->
  <div ng-controller="formController">

    <!-- START: select category -->
    <select ng-model="selected">
      <option value="">---Select Category---</option>
      <option value="Outdoors">Outdoors</option>
      <option value="Movies">Movies</option>
      <option value="Restaurants">Restaurants</option>
    </select>
    <!-- END: select category -->

    <!-- START: location -->
    <input type="text" name="location" ng-model="location" />
    <!-- END: location -->

    <!-- START submit form button -->
    <button ng-click="submitForm(selected, location)">Submit</button>
    <!-- START submit form button -->
  </div>
  <!-- END: formController -->

  <!-- Scripts -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
  <script src="app/services/services.js"></script>
  <script src="app/controllers/formController.js"></script>
  <script src="app/app.js"></script>
</body>
</html>