html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background: #e6e6e6;
}

/*input {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
  padding: 4px 8px;
  width: 240px;
  border-radius: 6px;
  border: 1px solid #333;
  margin: 8px;
}*/



/* HEADER ======================================================== */

/*header {
  position: relative;
  width: 100%;
}*/

.top-area {
  background: #e6e6e6;
  background: #999;
  margin-bottom: 24px;
  /*border: 1px solid gray;*/

  /* FIX BOTTOM */
  /*position: absolute;
  bottom: 0;
  left: 0;*/
}

.top-area h1 {
  display: inline-block;
  margin: 16px 24px;
}



/* FORM AREA  ==================================================== */
.form-area {
  margin: 0 auto;
  width: 50%;
  background: #fff;
  border-radius: 6px;
  padding: 8px;
}

.form-area label {
  display: block;
}

.form-area input {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
  padding: 4px 8px;
  width: 240px;
  border-radius: 6px;
  border: 1px solid #333;
  margin: 8px 0;
  display: block;
}

.form-area button {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 6px;
  background: #fff;
  padding: 4px 16px;
  font-weight: bold;
  line-height: 24px;
  font-size: 14px;
  width: 258px;
  margin: 8px 0;
}

.form-area button:hover {
  color: #fff;
  background: #000;
}

.form-area .form-left {
  display: inline-block;
  vertical-align: top;
  padding: 8px 16px;
}

.form-area .form-right {
  display: inline-block;
  vertical-align: top;
  padding: 8px 16px;
  float: right;
}

.form-area #invite-friends-container {
  font-size: 14px;
  line-height: 24px;
  height: 200px;
  overflow: auto;
  /*position: relative;*/
  padding: 4px 8px;
  width: 240px;
  border-radius: 6px;
  border: 1px solid #333;
  margin: 8px 0;
}

#invite-friends-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#invite-friends-container ul li {
  border-bottom: 1px solid #e6e6e6;
  padding: 4px 0;
}

#invite-friends-container .invite-add-friend {
  width: 92%;
  /*margin-left: -8px;*/
}


/*.form-area {
  margin: 0 auto;
  width: 70%;
  border: 1px solid blue;
  padding: 8px 16px;
}

.form {
  text-align: center;

}

input.location-box,
input.cat-type-box {

}

.form-area button {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 6px;
  background: #fff;
  padding: 4px 16px;
  font-weight: bold;
  line-height: 24px;
  font-size: 14px;
  margin: 4px 8px;
}
.form-area button:hover {
  color: #fff;
  background: #000;
}*/



/* BEGIN: CUSTOM DROP-DOWN MENU STYES  =========================== */
div.custom-drop-down-list {
  display: inline-block;
  margin-right: -16px;
}

.select-box {
  cursor: pointer;
}

.options-list {
  display: none;
}

ul.options-list {
  list-style-type: none;
  margin: 0;
  /*margin: -4px 0 0 8px;*/
  margin: -8px 0 0 0 ;
  padding: 0;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #fff;
  position: fixed;
  z-index: 100;
  text-align: left;
}

ul.options-list li {
  padding: 4px 8px;
  cursor: pointer;
}

ul.options-list li:hover {
  background: #ACCEF7;
}

.show {
  display: block !important;
}

.select-open {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.drop-down-arrow-area {
  padding: 0;
  position: relative;
  top: 1.55em;
  right: 2.5em;
  float: right;
  cursor: pointer;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid black;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid black;
}
/* END: CUSTOM DROP-DOWN MENU STYES  ============================= */



/* INVITE RESULTS PAGE  ========================================== */
.invite-container {
  height: 100px;
  width: 568px;
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 8px;
  padding: 16px;
}

.invite-container .invite-image {
  display: inline-block;
}

.invite-image img {
  border-radius: 6px;
}

.invite-container .invite-details {
  display: inline-block;
  vertical-align: top;
  margin-left: 16px;
}

.invite-details ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.invite-details ul li{
  padding-bottom: 8px;
}

.invite-details .location-name {
  font-size: 18px;
  font-weight: bold;
}

.invite-details .location-name a {
  text-decoration: none;
  color: blue;
}



/* GOOGLE MAPS API  ============================================== */
.map-container {
  margin: 0 auto;
  width: 602px;
}

#map {
  height: 300px;
  width: 600px;
  border: 1px solid #333;
  border-radius: 6px;
}









