body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.clearfix:after { 
 content: " ";
 display: block; 
 height: 0; 
 clear: both;
}

/* HEADER & NAVIGATION ======================================= */
header {
  border: 1px solid black;
  margin: 0 auto;
  min-height: 60px;
  padding: 0 20px;
  background: #1a1a1a;
  color: #fff;
}

.fixed-nav {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1000;
}

header .logo {
  float: left;
}

header .logo h1 {
  margin: 10px 0;
}

header .logo h1 a {
  text-decoration: none;
  color: #ffffff;
}
header .logo h1 a:hover {
  color: #00802b;
}

header .nav {
  float: right;
}

header .nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header .nav li {
  float: left;
}

header .nav li a {
  display: block;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  color: #fff;
}

header .nav li a:hover {
  color: #00802b;
}

/* ARTICLE BODY ======================================= */
.body-wrapper {
  padding: 20px;
}

article {
  margin: 0 auto;
  width: 70%;
  border: 1px solid #00802b;
  border-radius: 5px;
  padding: 20px;
}

/* FORM ======================================= */
.form-left {
  float: left;
  width: 40%;
  vertical-align: top;
}

.form-right {
  float: right;
  width: 40%;
  vertical-align: top;
}

.form label {
  display: block;
}

.form input {
  display: block;
  width: 95%;
  padding: 5px 5px;
  border: 1px solid #00802b;
  border-radius: 5px;
  font-size: 20px;
  margin: 10px 0;
}

/* BOOTSTRAP STYLE HACK */
.form-group {
  margin-bottom: 0 !important;
  width: 95% !important;
}

.form-control {
  display: block !important;
  border: 1px solid #00802b !important;
  border-radius: 5px !important;
  font-size: 20px !important;
  margin: 10px 0 !important;
  height: 40px;
}

#datetimepicker1 input.form-control {
  margin: 0 !important;
  border-right: none !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

}

.input-group-addon {
  border: 1px solid #00802b;
  border-left: 1px solid #00802b !important;
  cursor: pointer;
}
/* END: BOOTSTRAP STYLE HACK */

.form button {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 6px;
  width: 60%;
  margin-left: 20%;
  font-size: 20px;
  padding: 15px 20px;
}

.form button:hover {
  color: #00802b;
  background: #1a1a1a;
}

#friends-container {
  width: 95%;
  padding: 5px 5px;
  border: 1px solid #00802b;
  border-radius: 5px;
  font-size: 20px;
  margin: 10px 0;
  height: 210px;
  max-height: 210px;
  overflow: auto;
}

#friends-container div {
  padding: 5px 0;
  border-bottom: 1px solid #1a1a1a;
}

#friends-container input {
  display: inline-block;
  width: 5%;
}

/* INVITE RESULTS PAGE  ========================================== */
.invite-container {
  height: 100px;
  width: 568px;
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 8px;
  padding: 16px;
}

.invite-container .invite-image {
  display: inline-block;
}

.invite-image img {
  border-radius: 6px;
}

.invite-container .invite-details {
  display: inline-block;
  vertical-align: top;
  margin-left: 16px;
}

.invite-details ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.invite-details ul li{
  padding-bottom: 8px;
}

.invite-details .location-name {
  font-size: 18px;
  font-weight: bold;
}

.invite-details .location-name a {
  text-decoration: none;
  color: blue;
}



/* GOOGLE MAPS API  ============================================== */
.map-container {
  margin: 0 auto;
  width: 602px;
}

#map {
  height: 300px;
  width: 600px;
  border: 1px solid #333;
  border-radius: 6px;
}



