<header class="clearfix" ng-controller="Nav">
  <div class="logo">
    <h1><a href="/#/">Meet.ly</a></h1>
  </div>
  <div class="nav">
    <nav>
      <ul>
        <li ng-hide="isLoggedIn"><a href="#/login">Sign In</a></li>
        <li ng-show="isLoggedIn"><a href="#/map-view">Welcome {{currentUser.name}}</a></li>
        <li ng-show="isLoggedIn"><a href="#/invites">Your Invites</a></li>
        <li ng-show="isLoggedIn"><a href="#/">Initiate Invite</a></li>
        <li ng-show="isLoggedIn"><a href="#/signout">Sign Out</a></li>
      </ul>
    </nav>
  </div>
</header>

<navigation></navigation>

<div class="container">
  <div class="row">
    
     <div class="col-md-6">

      <h1 class="form-signin-heading"></h1>

      <form  class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Full name</label>
          <p class="form-control-static">{{ user.name }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <p class="form-control-static">{{user.email}}</p>
        </div>
      </form>

    </div>

  </div>
</div>