<article class="form-area" ng-controller="formController">
    
    <div class="form-left">
        <label for="place">PLACE</label>
        <!-- START: select category -->
        <div class="custom-drop-down-list">
          <div class="drop-down-arrow-area arrow-down"></div>
          <input type="text" name="input" value="{{selectedCat}}" class="select-box" ng-model="selectedCat" placeholder="-- Select Category --">
          <ul class="options-list">
            <li>-- Select Category --</li>
            <li>Arts &amp; Entertainment</li>
            <li>Automotive</li>
            <li>Beauty &amp; Spas</li>
            <li>Education</li>
            <li>Event Planning &amp; Services</li>
            <li>Financial Services</li>
            <li>Food</li>
            <li>Health &amp; Medical</li>
            <li>Home Services</li>
            <li>Local Services</li>
            <li>Mass Media</li>
            <li>Nightlife</li>
            <li>Pets</li>
            <li>Professional Services</li>
            <li>Public Services &amp; Government</li>
            <li>Real Estate</li>
          </ul>
        </div>
        <!-- END: select category -->

        <!-- START: select category type -->
        <input type="text" name="input" value="{{inputType}}" class="cat-type-box" ng-model="inputType" placeholder="Category Type">
        <!-- END: select category type -->

        <!-- START: location -->
        <input class="location-box" type="text" name="location" ng-model="inputLocation" placeholder="Location">
        <!-- END: location -->

        <div>DATE & TIME</div>
        <!-- START: calendar -->
        <!-- https://jqueryui.com/datepicker/ -->
        <input type="text" name="selectInviteDate" value="" id="datepicker" ng-model="selectDate" placeholder="Invite Date">
        <script>
            $(function() {
                $('#datepicker').datepicker();
            });
        </script>
        <!-- END: calendar -->
        
        <input type="text" name="" ng-model="inputTime" placeholder="Time">
    </div>

    <div class="form-right">
        <div>FRIENDS</div>
        <div id="invite-friends-container">
            <ul>
                <li>Howard</li>
                <li>Fred</li>
                <li>Robin</li>
                <li>Gary</li>
                <li>Jon</li>
            </ul>
            <input type="text" class="invite-add-friend" ng-model="friendsInvite" placeholder="Add Friend">
        </div>

        <!-- START: submit form button -->
        <button ng-click="submitForm({place: {f_category: selectedCat, f_type: inputType, f_location: inputLocation}, dateTime: {f_date: selectDate, f_time: inputTime}, f_friends: [friendsInvite]})">INVITE!</button>
        <!-- END: submit form button -->
    </div>
    <div style="clear:both;"></div>

</article>








