<div class="map-container" ng-controller="mapController">
  <div class="invite-container">
    <div class="invite-image">
      <!-- url -->
      <!-- image_url -->
      <a href="http://www.yelp.com/biz/new-york-bakery-new-york?adjust_creative=ZZd9nkRObqyUruNcyW_U-Q&utm_campaign=yelp_api&utm_medium=api_v2_search&utm_source=ZZd9nkRObqyUruNcyW_U-Q" target="_blank">
        <img src="https://s3-media3.fl.yelpcdn.com/bphoto/DBJagcqFV5ZuUWR3BUBnKg/ms.jpg" alt="">
      </a>
    </div>
    <div class="invite-details">
      <ul>
        <li class="location-name">
          <!-- url -->
          <!-- name -->
          <a href="http://www.yelp.com/biz/new-york-bakery-new-york?adjust_creative=ZZd9nkRObqyUruNcyW_U-Q&utm_campaign=yelp_api&utm_medium=api_v2_search&utm_source=ZZd9nkRObqyUruNcyW_U-Q" target="_blank">
            New York Bakery
          </a>
        </li>
        <li>
          <!-- location.display_address [array [3]] -->
          51 W 29th St<br>
          <!-- Flatiron -->
          New York, NY 10001<br>
        </li>
        <li>
          <!-- display_phone -->
          +1-212-213-2838
        </li>
        <li>
          <!-- rating -->
          Rating: 4.5
        </li>
      </ul>
    </div>
  </div>
  <div id="map"></div>
</div>