  <header class="clearfix" ng-controller="Nav">
    <div class="logo">
      <h1><a href="/#/">Meet.ly</a></h1>
    </div>
    <div class="nav">
      <nav>
        <ul>
          <li ng-hide="isLoggedIn"><a href="#/login">Sign In</a></li>
          <li ng-show="isLoggedIn"><a href="#/map-view">Welcome {{currentUser.name}}</a></li>
          <li ng-show="isLoggedIn"><a href="#/invites">Your Invites</a></li>
          <li ng-show="isLoggedIn"><a href="#/">Initiate Invite</a></li>
          <li ng-show="isLoggedIn"><a href="#/signout">Sign Out</a></li>
        </ul>
      </nav>
    </div>
  </header>

<navigation></navigation>

<div class="container">


  <header class="clearfix" ng-controller="Nav">
    <div class="logo">
      <h1><a href="/#/">Meet.ly</a></h1>
    </div>
    <div class="nav">
      <nav>
        <ul>
          <li ng-hide="isLoggedIn"><a href="#/login">Sign In</a></li>
          <li ng-show="isLoggedIn"><a href="#/map-view">Welcome {{currentUser.name}}</a></li>
          <li ng-show="isLoggedIn"><a href="#/invites">Your Invites</a></li>
          <li ng-show="isLoggedIn"><a href="#/">Initiate Invite</a></li>
          <li ng-show="isLoggedIn"><a href="#/signout">Sign Out</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="row">
    <div class="col-md-6">
      <h1>Register</h1>
      <p class="lead">Already a member? Please <a href="login">log in</a> instead.</p>
      <form ng-submit="onSubmit()">
        <div class="form-group">
          <label for="name">Full name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter your name" ng-model="credentials.name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="credentials.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" ng-model="credentials.password">
        </div>
        <button type="submit" class="btn btn-default">Register!</button>
      </form>
    </div>
  </div>

</div>